

<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a href="/members/" class="nav-link">Members</a></li>
        <li class="nav-item"><a href="{% url 'create_member' %}" class="nav-link">Sign Up new member</a></li>
     
        
        <!-- <li class="nav-item"><a href="/user_list" class="nav-link active">User</a></li> -->
        <!-- <li class="nav-item"><a href="members/update/<slug:slug>/" class="nav-link">update new user</a></li>
        <li class="nav-item"><a href="members/delete/<slug:slug>/" class="nav-link">Delete User</a></li> -->
      </ul>
    </header>
  </div>